{
  "plugins": ["stylelint-scss"],
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order", "stylelint-prettier/recommended"],
  "ignoreFiles": ["scss/global/foundations/sanitize*.scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
